# -*- coding: UTF-8 -*-

from __future__ import unicode_literals

## global configuration

sipp_remote_host = 'skaro-load'

sipp_local_ip = '192.168.32.241'
sipp_call_rate = 1.0
sipp_rate_period_in_ms = 1000
#sipp_max_simult_calls = 3
#sipp_nb_of_calls_before_exit = 4
#sipp_enable_trace_calldebug = True
#sipp_enable_trace_err = True
#sipp_enable_trace_shortmsg = True
#sipp_enable_trace_stat = True


## global scenarios configuration

bind_port = 5060

calling_line = {
    'username': 'loadtester',
    'password': 'loadtester',
}

pause = {
    'distribution': 'fixed',
    'value': 5000,
}
#pause = {
#    'distribution': 'uniform',
#    'min': 3000,
#    'max': 7000,
#}
#pause = {
#    'distribution': 'normal',
#    'mean': 5000,
#    'stdev': 1000,
#}

rtp = 'test3s-gsm.pcap'
#rtp = 'silence600s-gsm.pcap'


## scenarios configuration

scenarios.answer_then_hangup = dict(
    bind_port = bind_port,
    ring_time = pause,
    talk_time = pause,
    rtp = rtp,
)

scenarios.answer_then_wait = dict(
    bind_port = bind_port,
    ring_time = pause,
    rtp = rtp,
)

scenarios.call_then_cancel_on_ringing = dict(
    bind_port = bind_port,
    calling_line = calling_line,
    called_extens = ['1001'],
    ring_time = pause,
)

scenarios.call_then_hangup = dict(
    bind_port = bind_port,
    calling_line = calling_line,
    called_extens = ['1001'],
    talk_time = pause,
    rtp = rtp,
)

scenarios.call_then_wait = dict(
    bind_port = bind_port,
    calling_line = calling_line,
    called_extens = ['1001'],
    rtp = rtp,
)

scenarios.send_sip_register = dict(
    lines = [
        {'username': 'ztb4uv', 'password': 'VG8RVR'},
        {'username': '1m9o7d', 'password': 'ORHHI1'},
    ],
    expires = 120,
)
